
body
{
    background-color: black;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding-top: 30px;
    position: fixed;  
    background-color: black; 
} 

.logo
{
    padding-left: 80px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:600;
    color:white;
    transition: .3s ease;
}

.logo:hover
{
   color: cyan;
}

.Top
{
    width: 60%;  
}

.Top a
{ 
    padding-left: 50px;
    padding-right : 60px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:600;
    color: cyan;
    transition: .3s ease;
}

.Top a:hover
{ 
   color: white;

}
section
{
   display: flex;
   padding-left: 10%;
   padding-right: 20%;
   padding-top: 10%;
   padding-bottom: 230px;
}

.about
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
   
}
.about-content
{
    display: flex;
    text-align:left ;
    flex-direction: column;
    gap: 20px;
    
}

.about-content h1
{   
 margin: 0;
 color: white;
 font-size: 3.5rem;
 font-weight: 700;
}
.about-content h3
{
 margin: 0;
 color: white;
 font-size: 3.5rem;
 font-weight: 700;
}

.about-content .malik
{
    color: cyan;
}

.about-content p
{
    margin: 0;
    color: azure;
}

.social-icons
{
    display: flex;
    gap: 10px;
}

.social-icons a
{
  border-radius: 45px;
  padding: 8px;
  background: transparent;
  transition: 0.3s ease;
}

.social-icons a i
{
  font-size:xx-large;
  text-align: center;
  color: azure;
}
.social-icons a i:hover
{
    color: cyan;
    transform: scale(1.05);
}


.btn1
{
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-large;
  text-decoration: none;
  border-radius: 15px;
  background: transparent;
  color: white;
  border: 2px solid cyan;
  transition: 0.3s ease;
}

.btn1:hover
{ 
   color: black;
   background-color: cyan;
   transform: scale(1.05);
}

.home-image img
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 25px white;
    transition: 0.3s ease-in-out;
    
}

.home-image img:hover
{
    box-shadow: 0 0 25px cyan,
                0 0 50px  cyan;
}
.text-animation
{
  font-size: 3.5rem;
  font-weight: 700;
  min-width: 280px;
}
.text-animation::before
{
    content: "Web Developer";
    color: cyan;
    animation: words 20s infinite;
}

.text-animation::after
{
    content: "";
}


@keyframes words 
{
 0%,
 20%{content:"Frontend Designer";}

 21%,
 40%{content: "Web DeSigner";}

 41%,
 60%{content: "UI / UX Designer";}

 61%,
 80%{content: "Web Developer";}

 81%,
 100%{content: "Software Tester";}

}

.education
{
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   padding-bottom: 130px; 
   padding-top: 50px;
}

.heading 
{
    padding: 0;
    color: white;
    font-size: 3.5rem;
    text-align: center;
} 
.item
{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}

.items
{
   background-color: black;
   border: solid 4px white;
   text-align: center;
   width: 50%;
   border-radius: 45px;
   color: white; 
   padding:16px;
   box-shadow: 0 0 25px cyan;
   transition: 0.3s ease-in-out;
    
}


.date
{
  font-size: 20px;
}

.content
{
    font-size: medium;
}

.items:hover
{
    background: white;
    color: black;
    border-color: black;
    box-shadow: 0 0 25px white;
}

.projects
{
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   padding-bottom: 190px; 
   padding-top: 70px;

}


.group
{
  width: 80%;
  display: flex;
  align-items: center;
  gap: 80px;
}

.groups
{
   background-color: white;
   border: solid 4px black;
   width: 50%;
   border-radius: 45px;
   color: black; 
   padding:16px;
   box-shadow: 0 0 25px white;
   transition: 0.3s ease-in-out;
    
}

.groups:hover
{
    background: black;
    color: white;
    border-color: white;
    box-shadow: 0 0 25px cyan;
}

.contact
{
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   padding-bottom: 100px; 
   padding-top: 50px;

}

.heading span
{
    color: aqua;
}

.input-group
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.input-box input
{
    background-color:transparent;
    border-radius: 15px;
    padding: 15px;
    border: 3px solid aqua;
    color: white;
    font-size: 16px;
    outline: none;
}

.input-group-2
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

.input-group-2 textarea
{
    border-radius: 15px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 3px solid aqua;
    background-color:transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

.footer
{  
    background: silver;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.social
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social a
{
  padding: 8px;
  background: transparent;
  transition: 0.3s ease;
}

.social a i
{
  font-size:xx-large;
  color: black;
}
.social a i:hover
{
    color: cyan;
    transform: scale(1.05);
}

.list
{
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
}
.list li a
{
     text-decoration: none;
     color: black;
     transition: 0.3s ease;
}
.list li a:hover
{
    color: aqua;
}

.copy
{
    color: black;
    
}


